/*
    body design
 */

#toolbar {
    -fx-background-color: #3b3b3b;
}

#toolbar, #listDesigns, #DrawPanel {
    -fx-border-color: black;
    -fx-border-width: 3;
}

/*
    buttons icon
*/
#nodeButton, #edgeButton, #controlButton, #selectButton, #cutButton, #copyButton, #pasteButton,
#duplicateButton, #saveButton, #deleteButton, #undoButton, #redoButton, #moveButton {
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 16px;
}

#nodeButton {
    -fx-background-size: 5px;
    -fx-background-image: url('../img/icons/012-square.png');
}

#edgeButton {
    -fx-background-image: url('../img/icons/015-line.png');
}

#controlButton {
    -fx-background-image: url('../img/icons/023-line-2.png');
}

#selectButton {
    -fx-background-image: url('../img/icons/check-box-empty.png');
}

#cutButton {
    -fx-background-image: url('../img/icons/020-cut.png');
}

#copyButton {
    -fx-background-image: url('../img/icons/021-copy-document.png');
}

#pasteButton {
    -fx-background-image: url('../img/icons/018-interface.png');
}

#duplicateButton {
    -fx-background-image: url('../img/icons/010-two.png');
}

#saveButton {
    -fx-background-image: url('../img/icons/006-interface-2.png');
}

#deleteButton {
    -fx-background-image: url('../img/icons/016-eraser.png');
}

#undoButton {
    -fx-background-image: url('../img/icons/009-direction.png');
}

#redoButton {
    -fx-background-image: url('../img/icons/007-arrow.png');
}

#moveButton {
    -fx-background-image: url('../img/icons/011-arrows-1.png');
}

/*
    design style
*/

.node-style {
    -fx-fill: #0e1;
    -fx-stroke: black;
}

.node-tangent {
    -fx-fill: #eedd00;
    -fx-stroke-width: 0px;
}




